@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SuisseIntlCondensedRegular;
	font-display: swap;
	src: url("../fonts/Suisse Intl Condensed Regular.woff2") format("woff2"), url("../fonts/Suisse Intl Condensed Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SuisseIntlCondensedThin;
	font-display: swap;
	src: url("../fonts/Suisse Intl Condensed Thin.woff2") format("woff2"), url("../fonts/Suisse Intl Condensed Thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SuisseIntlMed;
	font-display: swap;
	src: url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: SuisseIntlBook;
	font-display: swap;
	src: url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff") format("woff");
	font-weight: 450;
	font-style: normal;
}
@font-face {
	font-family: SuisseIntlCondensedLight;
	font-display: swap;
	src: url("../fonts/Suisse Intl Condensed Light.woff2") format("woff2"), url("../fonts/Suisse Intl Condensed Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SuisseIntlReg;
	font-display: swap;
	src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular.woff") format("woff");
	font-weight: 450;
	font-style: normal;
}
