// Заголовки, общие БЄМ блоки и проче...
//кнопка с крудочком справа и элементом внутри
input {
  border-radius: 0;
}

h1 {
  font-family: "SuisseIntlCondTrialLight";
  font-weight: 300;
  @include adaptiveValue("font-size", 277, 110, 1920, 991);
  line-height: math.div(255, 277);
  /* identical to box height, or 92% */
  letter-spacing: -0.005em;
  text-align: center;
  text-transform: uppercase;

  @media (max-width:$tablet) {
    @include adaptiveValue("font-size", 140, 88, 991, 360);
  }
}

h2 {
  font-family: "SuisseIntlCondTrialLight";
  font-weight: 300;
  @include adaptiveValue("font-size", 277, 140, 1920, 991);
  line-height: math.div(255, 275);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: rem(20);

  @media (max-width:$tablet) {
    @include adaptiveValue("font-size", 140, 70, 991, 360);
  }
}

.btn-circle {
  display: flex;
  flex-direction: row-reverse;
  text-transform: uppercase;
  line-height: math.div(35, 30);
  align-items: center;
  margin: 0px rem(30) 0px 0px;

  @media (max-width:$tablet) {
    @include adaptiveValue("font-size", 24, 18);
    line-height: math.div(35, 18);
  }

  &::after {
    content: "";
    position: absolute;
    width: rem(81);
    height: rem(81);
    border-radius: 50%;
    border: 1px solid #fff;
    right: rem(-80);

    @media (max-width:$tablet) {
      width: rem(40);
      height: rem(40);
      right: rem(-30);
      border: 2px solid #fff;
    }
  }

  &::before {
    position: absolute;
    right: rem(-50);
    font-size: rem(18);

    @media (max-width:$tablet) {
      font-size: rem(10);
      right: rem(-15);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        background-color: #fff;
      }

      &::before {
        color: #000;
        z-index: 100;
      }
    }
  }
}

.blog-main-item {
  // @include adaptiveValue("width", 600, 400);
  // @include adaptiveValue("height", 600, 400);
  background: #E5E5E5;
  @include adaptiveValue("padding", 16, 12, 1920, 991);
  min-height: 100%;
  min-width: 100%;

  @media (max-width:$tablet) {
    padding: rem(11);
  }

  @media (max-width:$mobile) {
    max-height: rem(605);
  }
}


//перебитие стилей
.blog__body-wrap {
  // grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr)) !important;
  grid-template-rows: minmax(600) !important;

  @media (max-width:$tablet) {
    gap: rem(10) !important;
  }

  @media (max-width:$mobile) {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr;
  }
}

.blog-item {

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: rem(1);
      right: 50%;
      background: $mainColor;
    }

    &::before {
      content: "";
      position: absolute;
      height: rem(1);
      width: 100%;
      top: 50%;
      background: $mainColor;

    }

    img {
      padding: rem(13);
      height: 100%;
      object-fit: cover;
      display: block;
    }

    p {
      @include adaptiveValue("font-size", 20, 14, 1920, 991);
      line-height: math.div(25, 20);
      text-transform: uppercase;

      @media (max-width:$tablet) {
        font-size: rem(14);
      }
    }
  }

  &__text-1 {
    // border: 1px solid $mainColor;
  }

  &__text-2 {
    justify-items: end;
    text-align: right;
    align-self: end;
  }
}

.blog-item-zip {

  &__wrap {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      max-height: 100%;
    }

    h4 {
      @include adaptiveValue("font-size", 40, 20, 1920, 991);
      line-height: math.div(49, 40);
      text-transform: uppercase;
      padding-top: rem(21);

      @media (max-width:$tablet) {
        font-size: rem(20);
      }
    }

    p {
      position: absolute;
      transform: rotate(-90deg);
      top: rem(27);
      left: rem(-10);
      text-transform: uppercase;
      @include adaptiveValue("font-size", 20, 14, 1920, 991);
      line-height: math.div(35, 20);

      @media (max-width:$tablet) {
        font-size: rem(14);
      }
    }
  }
}


.blog-item-circle {
  position: relative;

  &__wrap {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }

  &__img {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: center;

    img {
      max-height: rem(357);
      height: auto;
    }
  }

  &__text-wrap {
    border: 2px solid $mainColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    // @media (max-width:$tablet) {
    //   max-height: rem(120);
    // }

    @media (max-width:$mobile) {
      max-height: none;
    }
  }

  img {
    height: 100%;
  }

  p {
    position: absolute;
    bottom: rem(10);
    @include adaptiveValue("right", 19, 12, 1920, 991);
    text-transform: uppercase;
    @include adaptiveValue("font-size", 20, 14, 1920, 991);
    line-height: math.div(25, 20);

    @media (max-width:$tablet) {
      font-size: rem(14);
      right: rem(15);
    }

    @media (max-width:$mobile) {
      bottom: rem(10);
      right: rem(12);
    }
  }

  h4 {
    text-transform: uppercase;
    text-align: center;
    @include adaptiveValue("font-size", 20, 16, 1920, 991);
    line-height: math.div(27, 20);
    padding-right: rem(15);
    padding-left: rem(15);

    @media (max-width:$tablet) {
      font-size: rem(14);
    }
  }
}


.blog-item-adp {
  .blog-item__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    h4 {
      @include adaptiveValue("font-size", 40, 30, 1920, 767);
      line-height: math.div(49 , 40);
      text-align: center;
    }

    p {
      @include adaptiveValue("font-size", 20, 16, 1920, 767);
      line-height: math.div(35 , 20);
      margin-top: rem(37);

      @media (max-width:$tablet){
        margin-top: rem(20);
      }
    }

    &::after {
      display: none;
    }
  }

  .blog-item__img-wrap {
    @include adaptiveValue("width", 244, 180, 1920, 767);
    @include adaptiveValue("height", 244, 180, 1920, 767);
    position: absolute;
    bottom: 0;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}


.blog-item-mus {
  .blog-item__wrap {
    &::after {
      display: none;
    }
  }
}
