//====================================================================================================
.preview {
  opacity: 0;
  transition: 1.7s opacity;

  &._watcher-view {
    opacity: 1;
  }

  // .preview__container
  &__container {
    padding-top: rem(30);
    // h1 {
    //   font-family: "SuisseIntlCondensedThin";
    //   font-weight: 300;
    //   @include adaptiveValue("font-size", 277, 140,1920,991);
    //   line-height: math.div(255 , 277);
    //   padding-top: rem(17);
    //   padding-bottom: rem(16);
    //   /* identical to box height, or 92% */

    //   text-align: center;
    //   letter-spacing: -0.005em;
    //   text-transform: uppercase;

    //   @media (max-width:$tablet){
    //     @include adaptiveValue("font-size", 140, 88, 991, 360);
    //   }
    // }

    @media (max-width:$mobile) {
      padding-right: rem(11);
      padding-left: rem(11);
      padding-top: rem(11);
    }
  }

  // .preview__text
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      line-height: math.div(32, 30);
      max-width: rem(483);
      text-align: center;

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 30, 14);
      }

      @media (max-width:$mobile) {
        font-size: rem(14);
        max-width: rem(330);
      }
    }

    h3 {
      text-transform: uppercase;
      line-height: math.div(39, 30);
      max-width: rem(796);
      text-align: center;

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 30, 14);
      }

      @media (max-width:$mobile) {
        font-size: rem(14);
      }
    }
  }

  // .preview__image-ibg
  &__image {
    @include adaptiveValue("padding-top", 36, 20);
    @include adaptiveValue("padding-bottom", 50, 24);
    width: rem(375);

    @media (max-width:$tablet) {
      @include adaptiveValue("width", 375, 150, 767, 360);
    }

    // @include adaptiveValue("height", 409, 150);
    img {
      max-width: 100%;
      max-height: auto;
    }
  }
}

//====================================================================================================
.video {
  padding: rem(66) 0px 0px 0px;
  opacity: 0;
  transition: 1s opacity;

  &._watcher-view {
    opacity: 1;
  }

  // .video__container
  &__container {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .video__body
  &__body {
    min-width: 100%;
    position: relative;
    height: 100%;
    @include adaptiveValue("height", 900, 600);


    iframe {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width:$tablet) {
      @include adaptiveValue("height", 600, 400);
    }

    @media (max-width:$mobile) {
      @include adaptiveValue("height", 400, 322);
    }
  }

  &__wrap {
    max-height: rem(900);

    img {
      max-width: 100%;
      object-fit: cover;
      @include adaptiveValue("height", 900, 600);

      @media (max-width:$tablet) {
        @include adaptiveValue("height", 600, 400);
      }

      @media (max-width:$mobile) {
        @include adaptiveValue("height", 400, 322);
      }
    }
  }


  // .video__body-btn
  &__body-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
  }

  // .video-btn {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   text-transform: uppercase;
  //   line-height: math.div(35 , 30);
  //   align-items: center;
  //   margin: 0px rem(30) 0px 0px;

  //   @media (max-width:$tablet){
  //     @include adaptiveValue("font-size", 24, 18);
  //     line-height: math.div(35 , 18);
  //   }

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     width: rem(81);
  //     height: rem(81);
  //     border-radius: 50%;
  //     border: 1px solid #fff;
  //     right: rem(-80);

  //     @media (max-width:$tablet){
  //       width: rem(40);
  //       height: rem(40);
  //       right: rem(-30);
  //       border: 2px solid #fff;
  //     }
  //   }

  //   &::before {
  //     position: absolute;
  //     right: rem(-50);
  //     font-size: rem(18);

  //     @media (max-width:$tablet){
  //       font-size: rem(10);
  //       right: rem(-15);
  //     }
  //   }

  //   @media (any-hover: hover){
  //     &:hover{
  //       &::after {
  //         background-color: #fff;
  //       }

  //       &::before {
  //         color: #000;
  //         z-index: 100;
  //       }
  //     }
  //   }
  // }
}

//====================================================================================================
.case {
  opacity: 0;
  transition: 1s opacity;

  &._watcher-view {
    opacity: 1;
  }

  // .case__container
  &__container {
    @include adaptiveValue("padding-top", 150, 40);
    max-width: none;

    @media (max-width:$mobile) {
      padding-left: rem(11);
      padding-right: rem(11);
    }
  }

  // .case__title
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: "SuisseIntlCondensedThin";
      font-weight: 300;
      @include adaptiveValue("font-size", 277, 140, 1920, 991);
      line-height: math.div(255, 275);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: rem(20);

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 140, 70, 991, 360);
      }
    }

    p {
      font-style: normal;
      font-weight: 450;
      @include adaptiveValue("font-size", 30, 24);
      line-height: math.div(32, 30);
      @include adaptiveValue("max-width", 821, 500);
      text-align: center;

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 24, 18);
      }

      @media (max-width:$mobile) {
        @include adaptiveValue("font-size", 18, 14);
        max-width: rem(343);
      }
    }
  }

  // .case__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-right: rem(15);
    // padding-left: rem(15);

    @media (max-width:$mobile) {
      padding: 0;
    }
  }

  // .case__tabs
  &__tabs {}
}

.case-tab {

  // .case-tab__navigation
  &__navigation {
    display: flex;
    justify-content: center;
    gap: rem(60);
    padding: rem(79) 0px rem(59) 0px;

    @media (max-width:$tablet) {
      @include adaptiveValue("padding-top", 79, 10);
      @include adaptiveValue("padding-bottom", 59, 26);
      gap: rem(30);
    }
  }

  // .case-tab__title
  &__title {
    text-transform: uppercase;
    @include adaptiveValue("font-size", 40, 30, 1920, 991);
    line-height: math.div(52, 40);
    transition: 0.3s ease;

    &._tab-active {
      text-decoration: underline;
    }

    @media (max-width:$tablet) {
      @include adaptiveValue("font-size", 30, 18);
    }
  }

  // .case-tab__content
  &__content {
    width: 100%;
  }

  // .case-tab__body
  &__body {
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: rem(20);

    img {
      max-width: 100%;
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain; // опционально
      vertical-align: top;
    }
  }

  // .case-tab__body-wrap
  &__body-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiveValue("gap", 20, 10, 1920, 767);

    @media (max-width:$tablet){
      grid-template-columns: 1fr 1fr !important;
    }

    @media (max-width:$mobile) {
      grid-template-columns: 1fr !important;
      gap: rem(10);
    }
  }

  &__body-wrap-stud {
    grid-template-columns: 1fr 1fr;
  }

  // .case-tab__body-wrap-item
  &__body-wrap-item {
    position: relative;
    cursor: pointer;

    @media (max-width:$mobile) {
      max-height: rem(605);
    }

    @media (any-hover: hover) {
      &:hover {
        .case-tab__body-wrap-text {
          opacity: 1;
        }
      }
    }
  }

  // .case-tab__body-wrap-text
  &__body-wrap-text {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    background-color: #E5E5E5;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
    padding-top: rem(30);
    padding-bottom: rem(30);
    @include adaptiveValue("padding-right", 130, 50, 1920, 991);
    @include adaptiveValue("padding-left", 130, 50, 1920, 991);

    // &:focus {
    //   display: block;
    // }

    @media (max-width:$tablet) {
      padding-top: rem(10);
      padding-bottom: rem(10);
      @include adaptiveValue("padding-right", 50, 10);
      @include adaptiveValue("padding-left", 50, 10);
    }

    @media (max-width:$mobile) {
      @media (hover: none) and (pointer: coarse) {
        &:hover {
          opacity: 1;
        }

        &:active {
          opacity: 1;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }

    p {
      @include adaptiveValue("font-size", 18, 16);
      line-height: math.div(24, 18);
      /* or 133% */

      text-align: center;

      &:last-child {
        @include adaptiveValue("font-size", 24, 18);
        line-height: math.div(32, 24);
        /* or 133% */

        text-align: center;
      }

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 16, 14, 991, 360);

        &:last-child {
          @include adaptiveValue("font-size", 24, 16, 991, 360);
        }
      }

      @media (max-width:$mobile) {
        @include adaptiveValue("font-size", 14, 14);

        &:last-child {
          @include adaptiveValue("font-size", 16, 14);
        }
      }
    }

    h3 {
      line-height: math.div(35, 30);
      /* or 117% */
      @include adaptiveValue("font-size", 30, 20);
      text-align: center;
      text-transform: uppercase;

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 20, 16, 991, 767);
      }

      @media (max-width:$mobile) {
        @include adaptiveValue("font-size", 16, 14);
      }
    }
  }
}



.case-show {
  display: flex;
  flex-direction: column;
  align-items: center;

  &._showmore-active {
    .case-show__more {
      &::before {
        content: "";
        position: absolute;
        background: none;
        background-color: $mainColor;
        width: 1.1875rem;
        height: rem(1);
        right: -3.5rem;
        background-size: contain;
        @media (max-width:$tablet){
          right: rem(-46);
        }
      }
    }
  }

  // .case-show__content
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
    padding-top: rem(20);

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding-top: rem(10);
      gap: rem(10);
    }
  }

  // .case-show__more
  &__more {
    font-size: rem(30);
    line-height: math.div(35, 30);
    /* identical to box height, or 117% */
    position: relative;
    text-transform: uppercase;
    padding-top: rem(60);
    padding-bottom: rem(20);

    &::after {
      border: 1px solid $mainColor;
      // right: rem(-106);
      width: rem(64);
      height: rem(64);

      @media (max-width:$tablet) {
        width: rem(40);
        height: rem(40);
        right: rem(-56);
        z-index: 100;
      }

      @media (max-width:$mobile) {
        border: 1px solid $mainColor;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/plus.svg");
      width: rem(19);
      height: rem(18);
      right: rem(-56);
      background-size: contain;

      @media (max-width:$tablet) {
        right: rem(-43);
        width: rem(14);
        height: rem(14);
      }
    }

    @media (max-width:$tablet) {
      @include adaptiveValue("font-size", 30, 18);
      @include adaptiveValue("padding-top", 60, 20);
    }
  }
}


//=================================================================================================
//====================================================================================================
