.form {
  padding-bottom: rem(200);

  @media (max-width:$tablet){
    @include adaptiveValue("padding-bottom", 200, 70);
  }
  // .form__container
  &__container {
    @media (max-width:$mobile){
      padding-right: rem(10);
      padding-left: rem(10);
    }
  }

  // .form__body
  &__body {
    padding-top: rem(160);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:$tablet){
      @include adaptiveValue("padding-top", 160, 90);
    }

    @media (max-width:$mobile){
      @include adaptiveValue("padding-top", 90, 40);
    }
  }

  // .form__title
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: "SuisseIntlCondensedThin";
      font-weight: 300;
      @include adaptiveValue("font-size", 277, 170, 1920, 991);
      line-height: math.div(255, 277);
      padding-top: rem(17);
      padding-bottom: rem(16);
      /* identical to box height, or 92% */

      text-align: center;
      letter-spacing: -0.005em;
      text-transform: uppercase;

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 140, 70, 991, 360);
        padding-top: 0;
        padding-bottom: 0;
      }

      @media (max-width:$mobile){
        line-height: 94%;
      }
    }

    p {
      text-align: center;
      @include adaptiveValue("font-size", 40, 26);
      line-height: math.div(52 , 40);
      /* identical to box height */

      text-transform: uppercase;

      @media (max-width:$tablet){
        @include adaptiveValue("font-size", 26, 18);
        line-height: math.div(18 , 26);
      }

      @media (max-width:$mobile){
        @include adaptiveValue("font-size", 18, 14);
      }
    }
  }

  // .form__img-wrap
  &__img-wrap {
    @include adaptiveValue("padding-top", 36, 20);
    @include adaptiveValue("padding-bottom", 50, 24);
    width: rem(400);

    @media (max-width:$tablet) {
      @include adaptiveValue("width", 400, 200);
    }

    @media (max-width:$mobile){
      @include adaptiveValue("width", 200, 150);
    }

    // @include adaptiveValue("height", 409, 150);
    img {
      max-width: 100%;
      max-height: rem(400);
    }
  }

  &__block {
    width: 100%;
    padding-top: rem(60);

    @media (max-width:$tablet){
      @include adaptiveValue("padding-top", 60, 30);
    }
  }

  &__input-wrap {
    display: flex;
    gap: rem(60);
    width: 100%;

    @media (max-width:$mobile){
      flex-direction: column;
      gap: rem(30);
    }
  }

  // .form__input
  &__input {
    width: 50%;

    input {
      border-bottom: 2px solid $mainColor;
      width: 100%;
      padding-bottom: rem(16);

      &::placeholder {
        color: $mainColor;
        font-size: rem(24);
        line-height: math.div(28 , 24);
      }
    }

    @media (max-width:$mobile){
      width: 100%;

      input {
        padding-bottom: rem(9);
        &::placeholder {
          @include adaptiveValue("font-size", 24, 18);
          line-height: math.div(20 , 18);
        }
      }
    }
  }

  // .form__btn
  &__btn {
    padding-top: rem(50);
    display: flex;
    justify-content: center;
    position: relative;

    .btn-sub {
      position: relative;

      &::after {
        border: 1px solid $mainColor;
        right: rem(-85);
        width: rem(64);
        height: rem(64);

        @media (max-width:$tablet){
          width: rem(41);
          height: rem(41);
          right: rem(-50);
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: rem(19);
        height: rem(19);
        background: url("../img/arrow.svg") no-repeat;
        background-size: cover;
        right: rem(-62);

        @media (max-width:$tablet){
          width: rem(12);
          height: rem(12);
          right: rem(-35);
        }
      }
    }

    @media (max-width:$mobile){
      padding-top: rem(20);
    }
  }
}
