.manifesto {
  margin-top: rem(44);

  // .manifesto__container
  &__container {
    padding: 0;
    max-width: none;
  }

  // .manifesto__body
  &__body {
    margin-top: rem(70);

    @media (max-width:$tablet) {
      margin-top: rem(30);
    }

    @media (max-width:$mobile) {
      margin-top: rem(27);
    }
  }

  // .manifesto__item
  &__item {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid $mainColor;
    border-bottom: 1px solid $mainColor;
    @include adaptiveValue("height", 641, 250, 1920, 767);
    // @include adaptiveValue("height", 520, 480, 1920, 991);

    @media (max-width:$tablet) {
      @include adaptiveValue("heigth", 400, 300, 991, 767);
    }

    @media (max-width:$mobile) {
      flex-direction: column;
      align-items: center;
      border: 0;
    }

    &--01 {
      &._watcher-view {
        .manifesto__img {
          opacity: 1;
        }

        .line {
          fill: none;
          stroke-width: 2px;
          stroke: $mainColor;
          transform-origin: 100% 100%;

          // Animate a dashed line
          //stroke-dashoffset: 420;
          //stroke-dasharray: 15,8;  // length of the dash and space between dashes
          //animation: dashed 4s linear infinite;


          // Draw in the line
          // infinite loops the animation
          // alternate runs the animation forwards and backwards
          stroke-dashoffset: 0; // length of the line
          stroke-dasharray: 3700; // solid line
          animation: draw 4s linear;


          // Rotate and scale!
          /*stroke-dasharray: 15,8;
	animation: dashedscale 4s alternate infinite ease-in-out;	*/

          //transform-origin: 100px 100px; // pixels not percentages for firefox
        }

        // Draw the line in from nothing
        @keyframes draw {
          0% {
            //start from offset of line
            stroke-dashoffset: 3700;
            stroke: $mainColor;
          }

          100% {
            //bring line back in to start point
            stroke-dashoffset: 0;
            stroke: $mainColor;
          }
        }
      }

      .manifesto__img {
        position: relative;
        width: 40%;
        display: flex;
        opacity: 0;

        @media (max-width:$mobile) {
          width: 100%;
          border-top: 1px solid $mainColor;
          border-bottom: 1px solid $mainColor;
        }

        &::before {
          right: 15%;
          top: rem(20);

          @media (min-width:$pc) {
            right: 20%;
          }

          @media (max-width:$tablet) {
            bottom: rem(10);
          }
        }

        svg {
          height: 100%;
          position: relative;
        }
      }



      img {
        @include adaptiveValue("height", 300, 162, 1920, 991);

        @media (max-width:$tablet) {
          @include adaptiveValue("height", 162, 100, 991, 767);
        }

        @media (max-width:$mobile) {
          @include adaptiveValue("height", 200, 140, 767, 360);
          border: 0;
        }
      }
    }


    &--02 {
      &._watcher-view {

        .manifesto__img {
          &--02 {
            .manifesto__img-elem {

              &::after {
                width: 200%;
              }

              &::before {
                width: 100%;
                transition-delay: 1s;
              }

            }
          }
        }

      }


      .manifesto__img {
        width: 40%;

        &--02 {
          border-right: rem(2) solid $mainColor;
          border-left: rem(2) solid $mainColor;

          .manifesto__img-elem {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: rem(2);
              background-color: $mainColor;
              transition: 2s all;
              top: 50%;
              left: 0;
            }

            &::after {
              content: "";
              position: absolute;
              height: rem(2);
              width: 0;
              background-color: $mainColor;
              // right: 50%;
              top: 0;
              transition: 2s all;
              transform: rotate(90deg);
            }

            // &:hover {
            //   &::after {
            //     width: 100%;
            //   }

            //   &::before {
            //     width: 100%;
            //   }
            // }

            @media (max-width:$mobile) {
              overflow: hidden;
            }
          }
        }

        @media (max-width:$mobile) {
          width: 100%;
        }

        &::before {
          bottom: rem(10);
          left: 5%;
          background: url("../img/02..svg") no-repeat;
          background-size: contain;
        }
      }

      @media (max-width:$mobile) {
        flex-direction: column-reverse;
      }
    }

    &--03 {
      &._watcher-view {
        .manifesto__img {
          .manifesto__elem-circle {
            .line {
              stroke-dashoffset: 0;
              stroke-dasharray: 0; // solid line
              animation: drawcircle 3s linear;
              opacity: 1;
              fill: #fff;
              visibility: visible;
            }
          }
        }

        // Draw the line in from nothing
        @keyframes drawcircle {
          0% {
            //start from offset of line
            stroke-dashoffset: 450;
            stroke-dasharray: 740;
            // stroke-width: 2px;
            fill: #fff;
            // opacity: 1;
          }

          100% {
            //bring line back in to start point
            stroke-dasharray: 1800;

          }
        }
      }

      .manifesto__img {
        position: relative;
        width: 35%;
        display: flex;
        border-right: rem(2) solid $mainColor;

        @media (max-width:$mobile) {
          width: 100%;
          border-top: 1px solid $mainColor;
          border-bottom: 1px solid $mainColor;
        }

        &::before {
          right: 25%;
          bottom: rem(40);
          background: url("../img/03..svg") no-repeat;
          background-size: contain;

          @media (max-width:$tablet) {
            bottom: rem(15);
          }

          @media (max-width:$mobile) {
            bottom: rem(40);
            right: 30%;
          }
        }

        .manifesto__elem-circle {
          width: 100%;

          .line {
            // opacity: 0;
            fill: none;
            visibility: hidden;
          }

          svg {
            width: 50%;
            height: 100%;
            min-width: 100%;
            //start from offset of line
            // stroke-dasharray: 0% 44%;
            fill: #fff;
            position: relative;
            // left: rem(3);
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(1.5);
            background-color: $mainColor;
            transform: rotate(90deg);
            top: 50%;
            z-index: 1000;
          }
        }

        img {
          @include adaptiveValue("height", 300, 162, 1920, 991);

          @media (max-width:$tablet) {
            @include adaptiveValue("height", 162, 100, 991, 767);
          }

          @media (max-width:$mobile) {
            @include adaptiveValue("height", 200, 140, 767, 360);
            border: 0;
          }
        }
      }
    }

    &--04 {
      display: flex;
      justify-content: space-between;

      &._watcher-view {
        .zip-anemate {
          opacity: 1 !important;
        }

        .line {
          fill: none;
          stroke-width: 2px;
          stroke: $mainColor;
          transform-origin: 100% 100%;
          opacity: 1;
          stroke-dashoffset: 0; // length of the line
          stroke-dasharray: 3700; // solid line
          animation: draw 4s linear;
        }

        // Draw the line in from nothing
        @keyframes draw {
          0% {
            //start from offset of line
            stroke-dashoffset: 3700;
            stroke: $mainColor;
          }

          100% {
            //bring line back in to start point
            stroke-dashoffset: 0;
            stroke: $mainColor;
          }
        }
      }

      @media (max-width:$mobile) {
        flex-direction: column-reverse;
      }

      .manifesto__img {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        .zip-anemate {
          opacity: 0;
        }

        &::before {
          bottom: rem(20);
          left: 5%;
          background: url("../img/04..svg") no-repeat;
          background-size: contain;
        }

        svg {
          // width: 100%;
          height: 100%;
          position: relative;
          transform: rotate(180deg);
        }

      }
    }

    &--05 {
      &._watcher-view {
        .manifesto__img {
          .manifesto__elem-circle {
            .line-circle {
              stroke-dashoffset: 0;
              stroke-dasharray: 0; // solid line
              animation: drawtype 3s linear;
              opacity: 1;
              fill: none;
            }
          }
        }

        // Draw the line in from nothing
        @keyframes drawtype {
          0% {
            //start from offset of line
            stroke-dashoffset: 450;
            stroke-dasharray: 740;
            // stroke-width: 2px;
            fill: none;
          }

          100% {
            //bring line back in to start point
            stroke-dasharray: 1800;

          }
        }


      }

      .manifesto__img {
        position: relative;
        width: 35%;
        border-right: 1px solid $mainColor;
        // opacity: 0;

        @media (max-width:$mobile) {
          width: 100%;
          border-top: 1px solid $mainColor;
          border-bottom: 1px solid $mainColor;
        }

        &::before {
          right: 6%;
          top: rem(20);
          background: url("../img/05..svg") no-repeat;
          background-size: contain;
        }

        .manifesto__elem-circle {
          width: 100%;
          height: 50%;
          margin-top: rem(0);

          // top: rem(10);

          &:last-child {
            svg {
              position: relative;
              // top: rem(-20);
            }
          }

          .line-circle {
            opacity: 0;
          }

          svg {
            width: 100%;
            height: 100%;
            //start from offset of line
            stroke-dashoffset: 0;
            fill: none;

            // transform: rotate(90deg);
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $mainColor;
            // transform: rotate(90deg);
            top: 50%;
            z-index: 1000;
          }
        }

        img {
          @include adaptiveValue("height", 300, 162, 1920, 991);

          @media (max-width:$tablet) {
            @include adaptiveValue("height", 162, 100, 991, 767);
          }

          @media (max-width:$mobile) {
            @include adaptiveValue("height", 200, 140, 767, 360);
            border: 0;
          }
        }
      }
    }
  }

  // .manifesto__img
  &__img {
    // width: 40%;
    height: 100%;
    // @include adaptiveValue("height", 641, 400, 1920, 991);
    // max-height: rem(639);
    position: relative;
    // border: 1px solid $mainColor;

    @media (max-width:$mobile) {
      @include adaptiveValue("height", 600, 360, 767, 360);
      // padding-right: rem(15);
      // padding-left: rem(15);
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../img/01..svg") no-repeat;
      @include adaptiveValue("width", 102, 50, 1920, 767);
      @include adaptiveValue("height", 92, 40, 1920, 767);
      background-size: contain;

      @media (max-width:$mobile) {
        width: rem(30);
        height: rem(24);
      }
    }

    img {
      max-width: 100%;
      height: 100%;
    }

    @media (max-width:$mobile) {
      width: 100%;

      img {
        position: relative;
        // transform: rotate(180deg);
        border-bottom: 1px solid $mainColor;
        width: 100%;
        border-top: 1px solid $mainColor;
      }
    }
  }

  // .manifesto__text
  &__text {
    width: 60%;
    // @include adaptiveValue("padding-top", 200, 100, 1920, 991);
    @include adaptiveValue("margin-left", 100, 70, 1920, 991);
    // @include adaptiveValue("padding-bottom", 200, 100, 1920, 991);

    @media (max-width:$tablet) {
      @include adaptiveValue("margin-left", 70, 30, 991, 767);
    }

    @media (max-width:$mobile) {
      margin-left: 0;
      width: 100%;
      margin-top: rem(65);
      margin-bottom: rem(100);
      padding-right: rem(10);
      padding-left: rem(10);
    }

    h4 {
      @include adaptiveValue("font-size", 80, 50, 1920, 991);
      /* identical to box height, or 92px */
      line-height: math.div(92, 80);
      text-transform: uppercase;
      margin-bottom: rem(30);

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 50, 20, 991, 360);
      }
    }

    p {
      padding-right: rem(40);
      @include adaptiveValue("font-size", 40, 24, 1920, 991);
      line-height: math.div(52, 41);

      @media (max-width:$tablet) {
        @include adaptiveValue("font-size", 24, 18, 991, 360);
      }
    }
  }
}
