.wrapper-preview {
  position: relative;
  transform: translateY(100%);
  z-index: 1002;
  background: #fff;
  overflow: hidden;
  height: 100vh;
  //&.preview {
  //  transform: translateY(0);
  //  transition: 2s transform;
  //  animation-delay: 1s;
  //  position: relative;
  //}
}


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #E5E5E5;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__text {
  display: flex;
  p {
    font-style: normal;
    font-weight: 400;
    @include adaptiveValue("font-size", 30, 20, 1920, 991);
    line-height: 13px;
    text-transform: uppercase;
    text-align: left;
  }
}

.preloader__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: rem(40);
  padding-top: rem(20);
  padding-right: rem(70);
  padding-left: rem(20);
  position: absolute;
  background: #E5E5E5;
  z-index: 100;
  // height: 100%;
  // top: rem(-20);
  &::before {
    left: 0;
    top: 50%;
  }
}

.preloader__row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;

  .footer__img {
    margin-top: 8%;
    height: 60%;
    z-index: 1000;
    margin-bottom: rem(20);
    &:first-child {
      display: flex;
      align-items: center;
    }
    img {
      height: 100%;
      animation: 40s ease 0s normal none infinite running left;
    }
    &:last-child {
      margin-top: 0;
      height: 30%;
      position: relative;
      margin-top: rem(20);
      h1 {
        white-space: nowrap;
        animation: 10s linear 0s normal none infinite running left;
        position: relative;
        height: 20%;
      }
    }
  }
}


.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}


.loaded_hiding .preloader {
  transition: 3s;
  visibility: hidden;
}

.loaded .preloader {
  //display: none;
}
