.prev {
  overflow: hidden;

  // .prev__container
  &__container {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    min-height: 100vh;
    height: 100vh;
    padding-right: rem(20);
    margin-right: rem(-20);
    max-width: none;
    position: relative;
  }

  // .prev__map
  &__map {
    position: absolute;
    width: 50%;
    left: 0;
    z-index: -1;
    opacity: 0;
    overflow: scroll;
    min-height: 100vh;
    height: 100vh;
    // padding-right: rem(20);
    // margin-right: rem(-40);
    background-color: #fff;
    transition: 2s left;
    overflow: -moz-scrollbars-none;
    margin-left: rem(5);

    &::-webkit-scrollbar {
      width: 0;
    }

    &.active {
      z-index: 500;
      opacity: 1;
      left: 50%;
    }
  }

  &__map-wrap {
    .form__container {
      padding-left: 0;
      padding-right: rem(20);
      margin-right: rem(20);
      h2 {
        @include adaptiveValue("font-size", 142, 110, 1920, 991);
      }

      .form__body {
        align-items: flex-start;
        padding-top: rem(36);

        .form__btn {
          display: flex;
          justify-content: space-between;

          p {
            width: 70%;
            @include adaptiveValue("font-size", 30, 20, 1920, 991);
          }

          .btn-circle {
            margin: 0;
          }

          .btn-sub {
            position: relative;
            right: rem(100);
            // margin-right: rem(25);

            &::after {
              right: rem(-90);
            }

            &::before {
              right: rem(-67);
            }
          }
        }
      }

      .form__title {
        align-items: flex-start;

        p {
          text-align: left;
        }
      }


      .form__input-wrap-other {
        column-gap: 4%;
        .form__input {
          &:first-child {
            width: 100%;
          }

          &:last-child {
            width: 100%;
          }
        }

      }
    }
  }

  // .prev__map-wrapper
  &__map-wrapper {
    margin-top: rem(20);
    margin-right: rem(40);

    iframe {
      width: 100%;
      @include adaptiveValue("height", 515, 335);
    }
  }

  // .prev__map-text
  &__map-text {

    .contacts__info {
      margin: 0;
      text-align: left;
      align-items: flex-start;
      @include adaptiveValue("font-size", 48, 34, 1920, 991);
      @include adaptiveValue("gap", 40, 30, 1920, 991);
      margin-top: rem(36);
    }
  }

  // .prev__text
  &__text {
    width: 50%;
    z-index: 1000;
    // padding-top: rem(30);
    // padding-left: rem(20);
    border-right: rem(2) solid $mainColor;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: left;
      font-weight: 300;
      @include adaptiveValue("font-size", 192, 120, 1920, 991);
      line-height: math.div(185, 192);
      /* or 96% */
      letter-spacing: -0.005em;
      text-transform: uppercase;
      opacity: 1;
      height: auto;
      position: relative;
      top: 0;
      width: 60%;
      // @include adaptiveValue("margin-bottom", 100, 90, 1920, 991);
      padding-top: rem(20);
      @media (min-width:$pc){
        margin-bottom: rem(90);
      }

      @media (max-width:1450px) {
        margin-bottom: rem(100);
      }

      @media (max-width:1350px){
        margin-bottom: rem(130);
      }

      @media (max-width:1200px) {
        margin-bottom: rem(160);
      }

      @media (max-width:1100px) {
        margin-bottom: rem(180);
      }
    }

    .prev__text-block {
      position: absolute;
      z-index: 501;
      display: none;
      opacity: 0;
      height: 100%;
      background: #fff;
      padding-left: rem(20);
      padding-top: rem(20);

      @media (min-width:$pc){
        bottom: rem(50);
      }

      p {
        @include adaptiveValue("font-size", 40, 24);
        line-height: math.div(44, 40);
      }

      .form__btn {
        @include adaptiveValue("margin-top", 129, 50, 1920, 991);
      }
    }
  }

  // .prev__blok
  &__blok {
    // padding-top: rem(30);
    // padding-left: rem(45);
    width: 50%;
    position: relative;
    padding: rem(20);
    overflow: hidden;
    height: calc(100% + 1px);
    p {
      @include adaptiveValue("font-size", 40, 24);
      line-height: math.div(44, 40);
    }
  }

  // .prev__img
  &__img {
    &._watcher-view {
      position: absolute;
      z-index: 10;
      width: 100%;
      top: 0;
      background-color: #fff;

      .prev__img-wrap {
        img {
          top: 0;
        }
      }

      p {
        height: 0;
        opacity: 0;
        display: none;
      }


      @keyframes top {
        0% {
          top: 20%;
        }

        100% {
          top: 0;
        }
      }
    }

    img {
      max-width: 100%;
      @media (max-width:1400px){
        height: rem(800);
      }
    }
  }


  &__img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    .prev__img-block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .prev__img-text {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
      }

      .prev__img-wrapper {
        position: relative;
        z-index: 2;
        background: #fff;
      }

      h2 {
        opacity: 0;
        display: none;
        @include adaptiveValue("font-size", 142, 70, 1920, 991);
        line-height: math.div(182, 142);
        color: $mainColor;
      }
    }
  }
}
